@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "augustblack";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: var(--color-slate-300);
  --color-base-200: var(--color-slate-400);
  --color-base-300: var(--color-slate-500);
  --color-base-content: var(--color-slate-900);
  --color-primary: var(--color-red-400);
  --color-primary-content: var(--color-red-950);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: var(--color-orange-100);
  --color-accent-content: var(--color-orange-900);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
}
